<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Elenco Ingredienti</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
    <h1>Elenco Ingredienti</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterazione per mostrare gli ingredienti -->
            <tr th:each="ingrediente : ${ingredienti}">
                <td th:text="${ingrediente.id}"></td>
                <td th:text="${ingrediente.nome}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{/ingrediente/{id}(id=${ingrediente.id})}">Dettagli</a>
                    <a class="btn btn-secondary" th:href="@{/ingrediente/edit/{id}(id=${ingrediente.id})}">Modifica</a>
                    <a class="btn btn-danger" th:href="@{/ingrediente/delete/{id}(id=${ingrediente.id})}">Elimina</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="/ingrediente/new">Aggiungi Ingrediente</a>
    
    <a class="btn btn-secondary" th:href="@{/}">Torna alla lista delle pizze</a>
</body>
</html>
